if TARGET_COLIBRI

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "colibri"

config SYS_VENDOR
       default "sigmadrone"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "colibri"

endif
